.app-wrapper {
    display: grid;
    grid-template-areas: 'P N N'
                         'P H H'
                         'F F F';
    grid-template-rows: 1fr 10fr 2fr ;
    grid-template-columns: 1fr 4fr 1fr ;
}

.Nav {
    grid-area: N;
}

.Profile {
    grid-area: P;
    background-color: #07575B;
}

.Homepage {
    grid-area: H;
}

.Footer {
    grid-area: F;
    background-color: #66A5AD;
}

